@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux pour l'arrière-plan */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: white; /* Fond blanc */
}


.prophet-mention {
  background: linear-gradient(135deg, #FFECB3 0%, #FFD700 50%, #FFC107 100%); /* Dégradé doré brillant */
  padding: 3px 8px; /* Espacement légèrement augmenté pour plus de clarté */
  border-radius: 6px; /* Coins arrondis plus doux */
  box-shadow: inset 0 0 5px rgba(255, 215, 0, 0.7); /* Ombre interne pour effet brillant */
}